@charset "utf-8";
a { text-decoration:none; }
html { position:relative; min-height:100%; }
body { padding:0 0.2rem 6rem 0.2rem; }
@media(min-width:980px) { body { padding:0 3rem 6rem 3rem; } }
footer { position:absolute; right:0; bottom:0; left:0; padding:1rem 3rem 1rem 3rem; }

i.flag { display:inline-block; width:3ex; height:3ex; margin-right:1ex; border-radius:50%; text-align:center; vertical-align:middle; line-height:3ex; font-style:normal; }
